/********
 * Votre CSS
 ********/

html, body {
	height: 100%;
	margin: 0;
	background-color: #3c3c40;
	font-family: 'Hind', sans-serif;
	font-size: 95%;
	
}
.liste {
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.liste > div {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	transition: color 200ms ease-in-out;
	background-color:#e85e30;
	color:#FFFFFF;
}
.liste > div:hover {
	color:#000000;
	transition: color 200ms ease-in-out;
}

a{
	text-decoration: none !important;
}

/********
 * footer.php
 ********/

footer
{
	width: 100%;
	text-align: center;
	background-color:#222224;
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/********
 * entete.php
 ********/

#entete1{
	height: 100px;
	background-color: #222224;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
    position:sticky;
        top:0px;
        left:0px;
}

#entete1 div{
	width: 200px;
}

#titreEntete{
	text-align: center;
}

#entete1 #logo{
	width: 100px;
	height: 100px;
}

#entete1 h1{
	font-size: 3em;
	font-family: 'Libre Baskerville', serif;
}

#entete1 #liensSociaux a{
	color: white;
	font-size: 2.2em;
	margin-left: 10px;
}

#entete1 #liensSociaux{
	text-align: right;	
}

#imageEntete{
	width: 100%;
	height: 400px;
	background-image:url("../images/barrel-black.jpg");
	background-size: cover;
	background-position: center;
}

#liensSociauxMobile{
	display: none;
}

/* Menu du compte*/
#lienOptionsCompte{
	text-align: center;
	position: relative;
	height: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#lienOptionsCompte p, #profile{
	position: absolute;
	top: 115px;
	right: 10px;
}

#lienOptionsCompte p{
	margin: 0;
	font-size: 28px;
}

/* Checkbox invisible sur l'image de profile*/
#profile{
	width: 30px;
	height: 30px;
	z-index: 1;
	opacity: 0;
}
/* Affiche les options du compte lorsque */
/* l'utilisateur clique sur l'image de profile*/
#profile:checked ~ #optionsCompte{
 	display: flex !important;
}

#profile:checked .fa-user-circle{
	color: #730101;
}

#entete1 #optionsCompte{
	display: none;
	width: 150px;
	height: 100px;
	background-color: white;
	margin-top: 90px;
	justify-content: space-around;
	align-items: center;
	margin-left: 20px;
}

#entete1 #optionsCompte ul{
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Nom Utilisateur */
#entete1 #optionsCompte ul li:first-child{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 8px;
	font-size: 16px;
	color: white;
	background-color: #730101;
	box-shadow: 0px 2px 3px #00000059;
}

/* Options du menu de compte*/
#entete1 #optionsCompte ul li{
	padding-bottom: 5px;
	list-style: none;
}

#entete1 #optionsCompte ul li a{
	color: gray;
	padding-bottom: 5px;
	list-style: none;
}

#entete1 #optionsCompte ul li:hover a{
	color: black;
}

@media all and (max-width:619px)
{
	#liensSociaux{
		padding-right: 20px;
		padding-left: 50px;
		box-sizing: border-box;
		text-align: center;
	}

	#mainNav ul {
		width: 90% !important;
		padding-left: 0px;
	}
}

@media all and (min-width:451px)
{
	/* Retirer les liens de menu du format mobile*/
	#burger, .fa-bars, .fa-times, .menuMobile{
		display: none !important;
	}
}

/* Menu Hamburger */
@media all and (max-width:450px)
 {
 	#entete1{
 		height: 200px;
 		flex-flow: column;
 		align-items: center;
 		justify-content: space-between;
 	}

 	#entete1 div:nth-child(1){
 		display: flex;
 		justify-content: space-around;
 		height: 150px;
 	}

 	#entete1 #logo{
 		width: 150px;
 		height: 150px;
 	}

 	#titreEntete{
 		font-size: 0.7em;
 		height: 60px;
 	}

 	#imageEntete{
 		display: none;
 	}

 	/* Menu burger */
 	#burger{
 		position: absolute;
 		top: 179px;
 		right: 20px;
 		display: block;
 		width: 40px;
 		height: 32px;
 		z-index: 2;
 		opacity: 0;
 		cursor: pointer;
 	}

 	.fa-bars{
 		display: block;
 		position: absolute;
 		top: 177px;
 		right: 25px;
 		font-size: 2.5em;
 		color: white;
 		transition: 1s;
 		
 	}

 	.fa-times{
 		display: block;
 		position: absolute;
 		top: 177px;
 		right: 28px;
 		font-size: 2.5em;
 		color: white;
 		opacity: 0;
 		transition: 1s;
 	}

 	#burger:checked ~ .fa-bars{
 		opacity: 0;
 	}

 	#burger:checked ~ .fa-times{
 		opacity: 1;
 	}

 	#burger:checked ~ nav > #mainNav{
 		display: block !important;
 	}

    /* Menu */ 
    nav{
        height:0px !important;
    }

 	#mainNav{
 		display: none !important;
 		position: absolute;
 		top: 220px;
 		height: 80%;
 		width: 100%;
 		z-index: 2;
 		display: flex;
 		flex-flow: column;
 		justify-content: space-around;
 		
 	}

 	#mainNav ul{
 		display: block;
 		padding-top: 20%;
 		padding-left: 0px;
 		display: flex !important;
 		flex-flow: column !important;
 		justify-content: space-between !important;
 		align-items: center;
 		height: 60% !important;
 	}

 	#mainNav ul li{
 		width: 100%;
 		text-align: center;
 		border-bottom: 2px solid #730101;
 	}

 	#liensSociaux{
 		display: none;
 	}

 	#liensSociauxMobile{
 		display: block;
 		font-size: 3em;
 	}

 	#mainNav a{
 		text-decoration: none;
 		color: #730101;
 	}

 }

/* Menu */
nav{
    height:50px;
}

#mainNav{
	background-color: #222224;
    z-index:2;
}

#mainNav li a{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	transition: 0.5s;
}

#mainNav li a:hover{
	color: #730101;
}

#mainNav ul{
	list-style: none;
	width: 80%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

@media all and (min-width:451px)
{
	.sticky{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.sticky + .content{
		padding-top: 610px;
	}
}

/********
 * Accueil.php
 ********/

.accueil{
	position: relative;
	padding-bottom: 220px;
}

#divAccueil{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

/* Div d'informations*/
.accueil .divBlanche{
	background-color: white;
	height: 400px;
	width: 25%;
	padding: 20px;
	margin-top: 25px;
	min-width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 10px 15px 8px #42424270;
	color: #730101;
	text-shadow: 1px 1px 1px white;
	background-size: cover;
 	background-position: center;
 	text-align: center;
 	z-index: 1;
}

@media all and (max-width:860px)
 {
 	.accueil .divBlanche{
 		width: 20%;
 		min-width: 200px;
 	}
 }

 @media all and (max-width:736px)
 {
 	.accueil .divBlanche{
 		width: 80%;
 	}
 }

 .accueil .divBlanche:nth-child(1){
 	background-image: url("../images/cellier.png");	
 }

  .accueil .divBlanche:nth-child(2){
 	background-image: url("../images/boire.png");	
 }

  .accueil .divBlanche:nth-child(3){
 	background-image: url("../images/bac_vin.png");	
 	/*margin-bottom: 400px;*/
 }

/* Div d'inscription rouge */
.divRouge{
	width: 100%;
	height: 300px;
	display: flex;
	padding-bottom: 20px;
	padding-top: 100px;
	box-sizing: border-box;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	background-color: #730101;
	position: absolute;
	bottom: 0px;
	box-shadow: 0px -5px 7px #42424270 inset;
	text-align: center;
}

.divRouge a{
	color: white;
	text-decoration: none;
}


/********
 * Cellier.php
 ********/

.actionCellier{
    margin:auto;
    margin-top: 20px;
    width:80%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}

.actionCellier button{
	margin-top: 0;
}

.cellier{
 	display: flex;
 	flex-direction:column;
    align-items:center;
 	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: 20px;
	padding-top: 20px;
}

.bouteille{
    width:100%;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
 	padding-top: 10px;
 	padding-bottom: 10px;
    margin:10px;
    background-color: white;
}

.bouteille > div:nth-child(2){
    width:70%;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
}

.img, .information, .options{
 	padding: 10px;
}

.img img{
 	width: 100%;
    background-image:url("../images/vindefault.jpg");

}

.nom{
    font-size:14pt;
    font-family: 'Libre Baskerville', serif;
}

.information{
 	display: flex;
 	flex-flow: column nowrap;
 	align-content: space-between; 
 	/*height: 210px;*/
}

.nom{
 	font-weight: bold;
 	margin: 0;
 	padding-bottom: 15px;
 	padding-top: 15px;
 	padding-left: 0px;
 	color: #730101; 	
}

.information p{
 	margin-bottom: 5px;
 	margin-top: 5px;
 	padding-left: 10px;
}

 .options{
 	display: flex;
    flex-flow:column;
 	justify-content: space-around;
 	padding: 10px;
 }
 .options button{
 	width: 32%;
 	min-width: 67px;
 }

.hideBouteille{
    display:none;
}

.trier{
	width: 250px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    padding:10px;
    text-align: center;
	background-color: white;
}
/*
@media all and (min-width:451px)
{
    .actionCellier{
        margin:auto;
        width:80%;
        display:flex;
        flex-flow:row;
        justify-content:space-between;
    }
	.trier{
        margin-left: 0px;
        margin-bottom:0px;
	}
}
*/
/*
.search{
	float:center;
    margin-left: 10%;
    margin-top:2%;
    margin-bottom: 0px;
}
.search input{
    width:250px;
    border:none;
    margin-right:0px;
}
.search button{
   background-color:#3c3c40; 
    border:none;
    width:20px;
}

.search i{
    color:white;
}
@media all and (min-width:451px)
{
	.search{
        margin-top:0px;
	    float:right;
        margin-right:0px;
        margin-left:0px;
    }
	
}*/
.listeChercheAutoComplete{
    width:250px;
    list-style: none;
    color:black;
    padding:0px;
    display:block;
    margin-top: 0px;
    background-color: white;
}

.listeChercheAutoComplete li:not(.listCherche) {   
   font-weight: bold; 
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    background-color: lightgrey;
}


.erreur, .count{
     width:100%;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
}


/********
 * formulaire
 ********/

/* Div comportant un fomulaire*/
.mesFormulaires{
	width: 80%;
	min-width: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	padding-left: 50px;
	background-color: white;
}

.mesFormulaires h2{
	color: #730101;
}

.mesFormulaires > div > label{
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

.formulaire div input, .formulaire div select{
	width: 100%;
}

/* Formulaires */
.formulaire{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: column nowrap;
	border-left: 2px solid #222224;
	padding-left: 20px;
}

.formulaire > div{
    margin-bottom: 40px;
}

/*champs du formulaire*/
.mesFormulaires input, textarea, .mesFormulaires select{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
}

.msg{
    width:60%;
    margin:5px auto;
    height:15px;
}

.msgBox{
	margin: 0 !important;
}

/*erreur des champs du formulaire*/
.formulaire > div > p{
    margin:2px 0 0;
    color:red;
}

.recherche{
	border: 2px solid black;
	border-radius: 5px;
	width: 200px;
	padding: 5px;
	height: 25px;
	background-color: white;
}

.recherche input{
	border: none;
	box-shadow: none;
}

.recherche button{
	width: 20px;
	margin: 0;
	height: 20px;
	background-color: transparent;
	box-shadow: none;
}

#labelNom{
	margin-bottom: 40px;
}

.mesFormulaires ::placeholder{
	color: #222224;
	transition: 1s;
}

.mesFormulaires input:focus::placeholder{
	color: white;
}

.mesFormulaires label[for]{
	position: absolute;
	top: -20px;
	left: 0;
	transition: 1s;
}

/*cache le label lorsque le champ est vide*/
.hide{
    opacity:0;
}

/*affiche le label lorsque l'input lier n'est pas vide*/
.mesFormulaires input:focus + .hide{
	opacity: 1;
}

input:focus, select:focus{
	outline: none;
}

.mesFormulaires div{
	position: relative;
}


button, .mesFormulaires input[type='button']{
	width: 200px;
	border: none;
	box-shadow: 2px 2px 5px grey;
	border-radius: 5px;
	padding: 5px;
    margin-top:10px;
	margin-bottom: 0px;
}

.soumettre{
    background-color: #730101;
	color: white;
}

.retour{
    background-color: lightgray;
}

.mesFormulaires button:hover, .mesFormulaires input[type='button']:hover{
	box-shadow: none;
}

.boutonForm{
    display:flex;
    flex-flow:row wrap-reverse;
    justify-content:space-between;
}

.attention{
    color:red;
}

.icone{
    height:30px;
}

.succes{
    color:green;
}

.formChiffre{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.formChiffre div{
	width: 45%;
}

@media all and (max-width:770px)
{
    .bouteille > div:nth-child(2){
        flex-flow:column;
    }
    .options{
        flex-flow:row;
    }
}

@media all and (max-width:635px)
{
    .bouteille{
 		max-width:300px;
        flex-flow:column;
 	}
     
    .description{
        display:none;
     }
     
    .options{
        display:none;
     }
     
    .bouteille > div:nth-child(2){
        width:100%;
    }
 }

/* Erreurs générées par le php */
.errorBox{
	width: 100%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border:2px solid red;
	background-color: #ff00004a;
}

.confirmBox{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-bottom: 20px;
	border:2px solid green;
	background-color: #00800042;
}

.formulaire > .confirmBox > p{
    color:black;
}

.formulaire > .errorBox > p{
    color:black;
}


/********
 * monCompte.php
 ********/
.monCompte div:first-child div{
	display: flex;
	align-items: center;
}

/* Bouton Modifier compte */
.monCompte div:first-child p{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 23px;
	margin: 0px;
	cursor: pointer;
}

/* Font awesome modifier compte */
.monCompte div:first-child i{
	padding-left: 5px;
}

.monCompte div:first-child h2{
	margin-bottom: 0px;
	padding-right: 5px;
}
/*
.monCompte div:last-child{
	margin-top: 40px;
}
*/  

    
/********
 * listCellier.php
 ********/
.listCellier{
    display:flex;
    flex-flow:column;
    align-items:center;
}

.listCellier > div{
    width:80%;
    margin:20px;
    padding:15px;
    background-color:white;
    color: black;
    height: 50px;
}

.listCellier a{
	color: black;
	font-size: 20px;
	width: 100%;
	text-decoration: none;
	font-family: 'Hind', sans-serif;
}


/********
 * formAjoutBout.php
 ********/
.divAutoComplete{
	position: relative;
	margin-bottom: 10px;
}

 /* Affichage des resultats de l'autocomplete */
 .displayResultats{
 	width: 210px;
 	height: 150px;
 	position: absolute;
 		top: 40px;
 	overflow-y: auto;
 	z-index: 2;
 	padding: 0;
 	margin-top: 0;
 	background-color: white;
 	border: 2px solid black;
 	border-top: none;
 	box-shadow: 2px 2px 5px #8080809e;
 }

.displayResultats li{
 	padding: 3px;
 	padding-left: 10px;
 	list-style: none;
 }

 .displayResultats li:hover{
 	background-color: #730101;
 	color: white;
 }

 .displayResultats:empty{
 	height: 0;
 	display: none;
 }