/********
 * Votre CSS
 ********/

html, body {
	height: 100%;
	margin: 0;
	background-color: #3c3c40;
	/*font-family: 'Roboto', 'RobotoDraft', sans-serif;*/
	font-family: 'Hind', sans-serif;
	font-size: 95%;
	
}
.liste {
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: none;
	/*background: #666;*/
	/*color: #03a9f4;*/
	list-style: none;
	margin: 0;
	padding: 0;
}

.liste > div {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
	/*background: #666;*/
	cursor: pointer;
	transition: color 200ms ease-in-out;
	/*background-color: #003777;*/
	background-color:#e85e30;
	color:#FFFFFF;
}
.liste > div:hover {
	color:#000000;
	transition: color 200ms ease-in-out;
	
}

footer
{
	/*bottom:0px;*/
	width: 100%;
	text-align: center;
	background-color:#222224;
}

/********
 * entete.php
 ********/

#entete1{
	height: 100px;
	background-color: #222224;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;	
}

#entete1 div{
	width: 200px;
}

#titreEntete{
	text-align: center;
}

#entete1 #logo{
	width: 100px;
	height: 100px;
}

#entete1 h1{
	font-size: 3em;
	font-family: 'Libre Baskerville', serif;
}

#entete1 #liensSociaux a{
	color: white;
	font-size: 2.2em;
	margin-left: 10px;
}

#entete1 #liensSociaux{
	text-align: right;	
}

#imageEntete{
	width: 100%;
	height: 400px;
	background-image:url("../images/barrel-black.jpg");
	background-size: cover;
	background-position: center;
}

#liensSociauxMobile{
	display: none;
}

@media all and (max-width:619px)
{
	#liensSociaux{
		padding-right: 20px;
		padding-left: 50px;
		box-sizing: border-box;
		text-align: center;
	}

	#mainNav ul {
		width: 90% !important;
		padding-left: 0px;
	}
}

@media all and (min-width:451px)
{
	#burger, .fa-bars, .fa-times{
		display: none !important;
	}
}

/* Menu Hamburger */
@media all and (max-width:450px)
 {
 	#entete1{
 		height: 200px;
 		flex-flow: column;
 		align-items: center;
 		justify-content: space-between;
 	}

 	#entete1 div:nth-child(1){
 		display: flex;
 		justify-content: space-around;
 		height: 150px;
 	}

 	#entete1 #logo{
 		width: 150px;
 		height: 150px;
 	}

 	#titreEntete{
 		font-size: 0.7em;
 		height: 60px;
 	}

 	#imageEntete{
 		display: none;
 	}

 	#burger{
 		position: absolute;
 		top: 179px;
 		right: 20px;
 		display: block;
 		width: 40px;
 		height: 32px;
 		z-index: 2;
 		opacity: 0;
 		cursor: pointer;
 	}

 	.fa-bars{
 		display: block;
 		position: absolute;
 		top: 177px;
 		right: 25px;
 		font-size: 2.5em;
 		color: white;
 		transition: 1s;
 		
 	}

 	.fa-times{
 		display: block;
 		position: absolute;
 		top: 177px;
 		right: 28px;
 		font-size: 2.5em;
 		color: white;
 		opacity: 0;
 		transition: 1s;
 	}

 	#burger:checked ~ .fa-bars{
 		opacity: 0;
 	}

 	#burger:checked ~ .fa-times{
 		opacity: 1;
 	}

 	#burger:checked ~ #mainNav{
 		display: block !important;
 	}

 	#mainNav{
 		display: none !important;
 		position: absolute;
 		top: 220px;
 		height: 80%;
 		width: 100%;
 		z-index: 2;
 		display: flex;
 		flex-flow: column;
 		justify-content: space-around;
 		
 	}

 	#mainNav ul{
 		display: block;
 		padding-top: 20%;
 		padding-left: 0px;
 		display: flex !important;
 		flex-flow: column !important;
 		justify-content: space-between !important;
 		align-items: center;
 		height: 60% !important;
 	}

 	#mainNav ul li{
 		width: 100%;
 		text-align: center;
 		border-bottom: 2px solid #730101;
 	}

 	#liensSociaux{
 		display: none;
 	}

 	#liensSociauxMobile{
 		display: block;
 		font-size: 3em;
 	}

 	#mainNav a{
 		text-decoration: none;
 		color: #730101;
 	}

 }

/* Menu */

#mainNav{
	background-color: #222224;
}

#mainNav li a{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	transition: 0.5s;
}

#mainNav li a:hover{
	color: #730101;
}

#mainNav ul{
	list-style: none;
	width: 80%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

@media all and (min-width:451px)
{
	.sticky{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.sticky + .content{
		padding-top: 610px;
	}
}

/********
 * Pied.php
 ********/
/*
#footer1{
	height: 500px;
	background-image: url("../images/wine-black.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

#footer1 form{
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}
#footer1 form label{
	display: block;
	font-size: 1.7em;
	font-family: 'Libre Baskerville', serif;
	color: #730101;
	text-shadow: 1px 1px 2px white;
}

#footer1 form input{
	width: 300px;
	padding-left: 5px;
}
*/
#footer2{
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/********
 * Accueil.php
 ********/

.accueil{
	position: relative;
	padding-bottom: 220px;
}
#divAccueil{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.accueil .divBlanche{
	background-color: white;
	height: 400px;
	width: 25%;
	padding: 20px;
	margin-top: 25px;
	min-width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 10px 15px 8px #42424270;
	color: #730101;
	text-shadow: 1px 1px 1px white;
	background-size: cover;
 	background-position: center;
 	text-align: center;
 	z-index: 1;
}
/*
@media all and (max-width:890px)
 {
 	.accueil .divBlanche{
 		width: 40%;
 	}
 }
*/

@media all and (max-width:860px)
 {
 	.accueil .divBlanche{
 		width: 20%;
 		min-width: 200px;
 	}
 }

 @media all and (max-width:736px)
 {
 	.accueil .divBlanche{
 		width: 80%;
 	}
 }

 .accueil .divBlanche:nth-child(1){
 	background-image: url("../images/cellier.png");	
 }

  .accueil .divBlanche:nth-child(2){
 	background-image: url("../images/boire.png");	
 }

  .accueil .divBlanche:nth-child(3){
 	background-image: url("../images/bac_vin.png");	
 	/*margin-bottom: 400px;*/
 }

.divRouge{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #730101;
	position: absolute;
	bottom: 0px;
	box-shadow: 0px -5px 7px #42424270 inset;
}

.divRouge a{
	color: white;
	text-decoration: none;
}

/********
 * Cellier.php
 ********/

 .cellier{
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: 20px;
	padding-top: 20px;
 }

/* Ajustement du nombre de bouteille afficher selon les 
	résolutions d'écran */
 @media all and (max-width:1182px)
 {
 	.bouteille{
 		width: 33%;
 	}
 }

 @media all and (max-width:991px)
 {
 	.bouteille{
 		width: 50%;
 	}
 }

 @media all and (max-width:599px)
 {
 	.bouteille{
 		width: 100%;
 	}
 }

@media all and (min-width:1182px)
 {
 	 .bouteille{
	 	width: 25%;
	 }
 }

 .bouteille{
 	min-width: 233px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 }

 .img, .description, .options{
 	width: 85%;
 	margin-left: auto;
 	margin-right: auto;
 	background-color: white;
 	padding: 10px;
 }

 .img img{
 	width: 100%;
 }

 .description{
 	display: flex;
 	flex-flow: column nowrap;
 	align-content: space-between; 
 	/*height: 210px;*/
 }

 .description .nom{
 	height: 45px;
 	font-weight: bold;
 	text-align: center;
 	margin: 0;
 	padding-bottom: 15px;
 	padding-top: 15px;
 	padding-left: 0px;
 	color: #730101;
 	font-family: 'Libre Baskerville', serif;
 }

 .description p{
 	margin-bottom: 5px;
 	margin-top: 5px;
 	padding-left: 10px;
 }

 .options{
 	display: flex;
 	justify-content: space-around;
 	padding: 10px;
 }
 .options button{
 	width: 32%;
 	min-width: 67px;
 }


/********
 * Ajouter.php
 ********/

.mesFormulaires{
	width: 80%;
	min-width: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	padding-left: 50px;
	background-color: white;
}

.mesFormulaires h2{
	color: #730101;
}

.mesFormulaires > div > label{
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

.formulaire div input{
	width: 100%;
}

.formulaire{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: column nowrap;
	border-left: 2px solid #222224;
	padding-left: 20px;
}

.mesFormulaires input, textarea{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
	margin-bottom: 40px;
}

.recherche{
	border: 2px solid black;
	border-radius: 5px;
	width: 200px;
	padding: 5px;
	height: 25px;
}

.recherche input{
	border: none;
	box-shadow: none;
}

#labelNom{
	margin-bottom: 40px;
}

.mesFormulaires ::placeholder{
	color: #222224;
	transition: 1s;
}

.mesFormulaires input:focus::placeholder{
	color: white;
}

.mesFormulaires .hide{
	position: absolute;
	top: -20px;
	left: 0;
	opacity: 0;
	transition: 1s;
}

.mesFormulaires input:focus + .hide{
	opacity: 1;
}

input:focus{
	outline: none;
}

.mesFormulaires div{
	position: relative;
}

.mesFormulaires button, .mesFormulaires input[type='button']{
	width: 200px;
	background-color: #730101;
	color: white;
	border: none;
	box-shadow: 2px 2px 5px grey;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 0px;
}

.mesFormulaires button:hover, .mesFormulaires input[type='button']:hover{
	box-shadow: none;
}

.formChiffre{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.formChiffre div{
	width: 45%;
}

.errorBox{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-bottom: 20px;
	border:2px solid red;
	background-color: #ff00004a;
}

.confirmBox{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-bottom: 20px;
	border:2px solid green;
	background-color: #00800042;
}

@media all and (max-width:450px)
{
	.mesFormulaires{
		min-width: 200px;
		width: 100% !important;
		padding:20px !important;
		box-sizing: border-box;
	}
	.formulaire{
		width: 90%;
	}
}


/********
 * trier
 ********/

.trier{
	width: 230px;
    height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 20%;
    border: 1px solid black;
    padding:1%;
    text-align: center;
    border-radius: 50px 20px;
	background-color: white;
    background-color: 
}
@media all and (min-width:451px)
{
	.trier{
	width: 250px;
    margin-left: 40%;
	
}


