/********
 * Votre CSS
 ********/

html{
	height: 100%;
}
body {
	min-width: 320px;
	min-height: 100%;
	margin: 0;
	background-color: #dddddd45;

	font-family: 'Hind', sans-serif;
	font-size: 95%;
    color: #202020;
    position: relative;
}

main{
    max-width:1300px;
    margin:auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    padding-bottom: 50px;
    height: 100%;
}

.content{
    box-sizing:border-box;
    border:1px solid #ddd;
    padding:15px;
	background-color:white;
}

/********
 * bouton
 ********/

button{
	border: none;
	box-shadow: 2px 2px 5px grey;
	border-radius: 5px;
	padding: 5px;
    margin:0px;
    background-color:#730101;
    color:white;
}

.petitBtn{
    height:40px;
    width:40px;
}

.moyenBtn{
    height:40px;
 	width:60px;
}

.largeBtn{
    width:250px;
}

.xlargeBtn{
	width: 100%;
}

.retour{
    font-weight:bold;
    color:#730101;
    background-color: lightgray;
}

/********
 * footer.php
 ********/

footer
{
	width: 100%;
	text-align: center;
	background-color:#222224;
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: 0.5px;
}

/********
 * entete.php
 ********/

#entete1{
	height: 100px;
	background-color: #222224;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#entete1 div{
	width: 30%;
}

#titreEntete{
	text-align: center;
}

#entete1 #logo{
	width: 100px;
	height: 100px;
}

#entete1 h1{
	font-size: 3em;
	font-family: 'Libre Baskerville', serif;
}

/* Menu du compte*/
#lienOptionsCompte{
	text-align: center;
	position: relative;
	height: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#lienOptionsCompte p, #profile{
	position: absolute;
	top: 109px;
	right: 8px;
}

#lienOptionsCompte p i{
	font-size: 28pt !important;
}

#lienOptionsCompte p{
	margin: 0;
}

/* Checkbox invisible sur l'image de profile*/
#profile{
	width: 35px;
	height: 35px;
	z-index: 1;
	opacity: 0;
}
/* Affiche les options du compte lorsque */
/* l'utilisateur clique sur l'image de profile*/
#profile:checked ~ #optionsCompte{
 	display: flex !important;
}

#profile:checked .fa-user-circle{
	color: #730101;
}

#entete1 #optionsCompte{
	display: none;
	width: 150px;
	height: 100px;
	background-color: #dddddd;
	margin-top: 90px;
	justify-content: space-around;
	align-items: center;
	margin-left: 20px;
	z-index: 3;
}

#entete1 #optionsCompte ul{
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Nom Utilisateur */
#entete1 #optionsCompte ul li:first-child{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 8px;
	font-size: 16px;
	color: white;
	background-color: #730101;
	box-shadow: 0px 2px 3px #00000059;
}

/* Options du menu de compte*/
#entete1 #optionsCompte ul li{
	padding-bottom: 5px;
	list-style: none;
}

#entete1 #optionsCompte ul li a{
	color: black;
	padding-bottom: 5px;
	list-style: none;
}

#entete1 #optionsCompte ul li:hover a{
	color: grey;
}

#mainNav ul{
    margin:0px;
}

/********
 * Accueil.php
 ********/

.accueil{
	position: relative;
	padding-bottom: 220px;
	margin-top: 45px;
}

#divAccueil{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

/* Div d'informations*/
.accueil .divBlanche{
	background-color: white;
	height: 400px;
	width: 25%;
	padding: 20px;
	margin-top: 25px;
	min-width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 10px 15px 8px #42424270;
	color: #730101;
	text-shadow: 1px 1px 1px white;
	background-size: cover;
 	background-position: center;
 	text-align: center;
 	z-index: 1;
}

 .accueil .divBlanche:nth-child(1){
 	background-image: url("../images/cellier.png");	
 }

  .accueil .divBlanche:nth-child(2){
 	background-image: url("../images/boire.png");	
 }

  .accueil .divBlanche:nth-child(3){
 	background-image: url("../images/bac_vin.png");	
 	/*margin-bottom: 400px;*/
 }

/* Div d'inscription rouge */
.divRouge{
	width: 102%;
	height: 300px;
	display: flex;
	padding-bottom: 20px;
	padding-top: 100px;
	box-sizing: border-box;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	background-color: #730101;
	position: absolute;
	bottom: 0px;
	left: -13px;
	box-shadow: 0px -5px 7px #42424270 inset;
	text-align: center;
}

.divRouge a{
	color: white;
	text-decoration: none;
}



/********
 * contenuCellier.php
 ********/
.contenuCellier{
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    justify-content:space-between;
    width: 100%;
}

.contenuCellier h2{
    width:100%;
    text-align:center;
}

/*action du formulaire*/

.actionCellier{
    position:sticky;
        top:0px;
    display:flex;
    flex-flow:column nowrap;
    box-sizing:border-box;
    padding:15px;
    height:auto;
    background-color:white;
    width:30%;
    border:1px solid #ddd;
    font-weight:bold;
    font-size:13pt;
}

.actionCellier > div{
    margin-top:10px;
}

.actionCellier > div:first-of-type{
    margin-top:0px;
}

.trier{
    border: 2px solid black;
    border-radius: 5px;
    box-sizing:border-box;
    padding:5px 5px;
    text-align: center;
	background-color: white;
}

.trier select{
    font-size:11pt;
}

.listeChercheAutoComplete{
    list-style: none;
    color:black;
    display:block;
    margin:0px;
    background-color: white;
    font-size:11pt;
    font-weight:normal;
}

.listeChercheAutoComplete li:not(.listCherche) {   
    font-weight: bold; 
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    background-color: lightgrey;
}

 /*resultat recherche*/
.count{
     width:100%;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 20px;
    color:black;
    text-align: center;
}

/*contenu du cellier*/

.cellier{
 	display: flex;
 	flex-direction:column;
    align-items:center;
	width:68%;
	padding:0px 15px;
    margin:0px 0px 20px;
}

.bouteille{
    width:100%;
    border-bottom:2px solid #730101;
}

.bouteille:last-child{
    border:none;
}

/*division bouteille*/
.information{
    width:100%;
    display:flex;
    flex-flow:row;
 	padding:2px 0px;
    margin:10px 0px;
    background-color: white;
}

.information > div:nth-child(2){
    width:100%;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
}


.information > div > img{
 	width:160px;
}

.information > div:nth-child(2) > div:first-child{
    padding-top:0px;
    margin-left:15px;
}

.information > div:nth-child(2) > div > p:first-child{
    font-size:12pt;
    font-family: 'Libre Baskerville', serif;
 	font-weight: bold;
 	margin: 0; 	
    padding:0px;
}

.information > div:nth-child(2) p{
 	margin:0px;
}

.description{
    display:flex;
    flex-flow:row nowrap;
    padding-right:10px;
    margin:5px 0px;
}

.description > div{
    padding:10px;
}

.description > div:first-child{
    border-right:1px solid #ddd;
}

.description > div > p:first-child{
    text-decoration:underline;
    /*border-bottom:1px solid #ddd;*/
}

.actionBouteille{
 	display: flex;
    flex-flow:column;
 	justify-content: space-around;
 	padding: 10px;
 }
 



/**liste des bouteilles**/
.listeBouteille{
    border-top:1px solid #ddd;
    padding-top:5px;
}

.listeBouteille > p{
    margin:0px;
    text-align:right;
}

table{
    margin:0px auto 10px;
    text-align:center;
}

table td:first-of-type,table td:nth-child(2){
    min-width:160px;
}

table td:nth-child(3){
    min-width:95px;
}

table td button{
    margin:0px 2px;
}


/*cache la liste de bouteille*/
.hideListe{
    display:none;
}


.erreur{
    
}

/********
 * formulaire
 ********/
/* Div comportant un fomulaire*/
.mesFormulaires{
	width: 80%;
	min-width: 320px;
	margin: 30px 0px;
}

.mesFormulaires h2{
    margin:0px 0px 10px;
	color: #730101;
}

.mesFormulaires > div > label{
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

.formulaire div input, .formulaire div select{
	width: 100%;
}

/* Formulaires */
.formulaire{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 5px;
	display: flex;
	flex-flow: column nowrap;
	border-left: 2px solid #222224;
	padding-left: 20px;
}

.formulaire > div{
    margin-bottom: 40px;
}

/*champs du formulaire*/
.mesFormulaires input, textarea, .mesFormulaires select{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
}

.msg{
    width:60%;
    margin:5px auto;
    height:15px;
}

.msgBox{
	margin: 0 !important;
}

/*erreur des champs du formulaire*/
.formulaire > div > p{
    margin:2px 0 0;
    color:red;
}

.recherche{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    box-sizing:border-box;
	border: 2px solid black;
	border-radius: 5px;
	padding:0px 5px;
	background-color: white;
}

.recherche input{
	border: none;
	box-shadow: none;
}
.recherche button{
	background-color: transparent;
	box-shadow: none;
    color:black;
}

#labelNom{
	margin-bottom: 40px;
}

.mesFormulaires::placeholder{
	color: #222224;
	transition: 1s;
}

.mesFormulaires input:focus::placeholder{
	color: white;
}

.mesFormulaires label[for]{
	position: absolute;
	top: -20px;
	left: 0;
	transition: 1s;
}

/*cache le label lorsque le champ est vide*/
.hide{
    opacity:0;
}

/*affiche le label lorsque l'input lier n'est pas vide*/
.mesFormulaires input:focus + .hide{
	opacity: 1;
}

input:focus, select:focus{
	outline: none;
}

.mesFormulaires div{
	position: relative;
}

.mesFormulaires button:hover, .mesFormulaires input[type='button']:hover{
	box-shadow: none;
}

.boutonForm{
    margin-top:10px;
    display:flex;
    flex-flow:row wrap-reverse;
    justify-content:space-between;
}

.attention{
    color:red;
}

/*icone svg*/
.icone{
    height:30px;
}

/*icone font awesome*/
i{
    line-height:30px;
    vertical-align: middle;
    font-size:15pt;
}

.succes{
    color:green;
}

.formChiffre{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.formChiffre div{
	width: 45%;
}



/* Erreurs générées par le php */
.errorBox{
	width: 100%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border:2px solid red;
	background-color: #ff00004a;
}

.confirmBox{
	width: 97%;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-bottom: 20px;
	border:2px solid green;
	background-color: #00800042;
}

.formulaire > .confirmBox > p{
    color:black;
}

.formulaire > .errorBox > p{
    color:black;
}


/********
 * listCellier.php
 ********/
 .listCellier{
 	margin-top: 20px;
 }

 .listCellier i{
 	font-size: 12pt;
 	margin-bottom: 5px;
 	margin-left: 5px;
 }

/* Division contenant les informations du compte 
   et le bouton de modification */
.listCellierDivGauche{
	width: 25%;
	min-width: 230px;
}

.mesCelliers{
	margin: auto;
	margin-top: 0;
	width: 55%;
}

/* Div d'affichage des informations du compte */
.monCompte{
    position:sticky;
    top:0px;
    display:flex;
    flex-flow:column nowrap;
    margin-top: 20px;
    margin-bottom: 10px;
    padding:10px;
    height:auto;
    background-color:white;
    border:1px solid #ddd;
}

.monCompte div:first-child div{
	border-bottom: 1px solid #ddd;
	text-align: center;
}

/* Bouton de modification de compte*/
.listCellierDivGauche button {
	padding: 7px;
}

.divMesCelliers > div{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
    align-items: center;
	padding:10px 20px 10px 20px;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.divMesCelliers{
 	box-sizing: border-box;
}

/* Boutons de modification et de suppression 
   des celliers */
.divMesCelliers button{
	margin: 5px;
	width: 35%;
}

.divMesCelliers .options{
	width: 70%;
	text-align: right;
}

.btnMobile{
	display: none;
}

/* Bouton d'ajout de cellier */
.btnAjoutCellier{
	width: 40%;
	margin-left: 60%;
	margin-right: 0;
	margin-bottom: 20px;
}

/* Nom des celliers */
.divMesCelliers p{
    font-family: 'Libre Baskerville', serif;
 	font-weight: bold;
	font-size: 18px;
	width: 30%;
}

.divMesCelliers a{
	color: #202020;
}

/* Dans le cas ou il n'y a aucun cellier... */
.divMesCelliers .aucunCellier{
	flex-direction: column;
}

.divMesCelliers .aucunCellierInfos{
	justify-content: flex-start;
}

.divMesCelliers .aucunCellierInfos p, .divMesCelliers .aucunCellierInfos h4{
	width: 100%;
	font-size: 16px;
}

.divMesCelliers .aucunCellierInfos h4{
	text-decoration: underline;
}

.divMesCelliers .aucunCellierInfos p{
	font-family: 'Hind', sans-serif;
}

.aucunCellier > h4{
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
}

/********
 * formAjoutBout.php
 ********/

.divAutoComplete{
	position: relative;
}

.nouvelleBouteille .divAutoComplete{
    width:300px;
}

.nouvelleBouteille .divAutoComplete input{
    width:100%;
}


.nouvelleBouteille .divAutoComplete label{
    vertical-align:middle;
    text-align:center;
    width:40px;
    line-height:40px;
}

 /* Affichage des resultats de l'autocomplete */
 .displayResultats{
    width:100%;
    box-sizing:border-box;
 	max-height:180px;
 	position: absolute;
 		top: 37px;
 	overflow-y: auto;
 	z-index: 2;
 	padding: 0;
 	margin-top: 0;
 	background-color: white;
 	border: 2px solid black;
 	border-top: none;
    border-bottom-left-radius:5px; 
    border-bottom-right-radius:5px; 
 	box-shadow: 2px 2px 5px #8080809e;
 }

.displayResultats li{
 	padding: 3px;
 	padding-left: 10px;
 	list-style: none;
 }

 .displayResultats li:hover{
 	background-color: #730101;
 	color: white;
 }

 .displayResultats:empty{
 	height: 0;
 	display: none;
 }

/**************** Tablette ****************/
@media all and (max-width:1024px){
	/********
	 * Accueil.php
	 ********/
	.accueil{
		margin-bottom: 0px;
		margin-top: 20px;
		padding: 0px 0px 220px 0px;
		border: none;
		background-color: transparent;
	}

 	.accueil .divBlanche{
 		width: 25%;
 		min-width: 200px;
 	}

 	.accueil .divRouge{
 		height: 400px;
 		padding-bottom: 30px;
 		padding-top: 150px;
 		bottom: -55px;
 	}


 	/********
	 * listCellier.php
	 ********/
	.divMesCelliers .options{
		width: 65%;
	}
	.divMesCelliers > p{
		width: 45%;
	}
	.listCellier i{
		display: none;
	}
    
    /********
	 * contenuCellier.php
	 ********/
 	 .information > div:nth-child(2){
        flex-flow:column;
    }

}

/**************** Mobile ****************/
@media all and (max-width:768px){
	main{
		height: calc(100% - 230px);
	}
	
	#entete1 #logo{
		width: 80px;
		height: 80px;
	}
	
	/* Entête */
 	#lienOptionsCompte p, #lienOptionsCompte div{
 		display: none;
 	}

 	#lienOptionsCompte{
 		display: none;
 	}

 	#titreEntete h1{
 		font-size: 35px;
 	}

 	#profile:checked ~ #optionsCompte{
	 	display: none;
	}

 	/* Menu burger */
 	#burger{
 		position: absolute;
 		top: 50px;
 		right: 20px;
 		display: block;
 		width: 40px;
 		height: 32px;
 		z-index: 2;
 		opacity: 0;
 		cursor: pointer;
 	}

 	.iconeMenuMobile{
 		display: block;
 		position: absolute;
 		top: 49px;
 		right: 25px;
 		font-size: 28pt;
 		color: white;
 		transition: 1s;
 		
 	}

 	.fa-times{
 		display: block;
 		position: absolute;
 		top: 49px;
 		right: 28px;
 		font-size: 28pt;
 		color: white;
 		opacity: 0;
 		transition: 1s;
 	}

 	/* Icone visible ou non en fonction de si
 	   le menu est ouvert ou pas */
 	#burger:checked ~ .iconeMenuMobile{
 		opacity: 0;
 	}

 	#burger:checked ~ .fa-times{
 		opacity: 1;
 	}

 	#burger:checked ~ nav > #mainNav{
 		display: block !important;
 	}

 	#burger:checked ~ main{
 		display: none;
 	}

    /* Menu */ 
    nav{
        height:0px !important;
    }

 	#mainNav{
 		display: none !important;
 		position: absolute;
 		top: 120px;
 		height: 90%;
 		width: 100%;
 		z-index: 2;
 		display: flex;
 		flex-flow: column;
 		justify-content: space-around;
 		background-color: #222224;
 		
 	}

 	#mainNav ul{
 		display: flex;
 		flex-flow: column;
 		justify-content: space-around;
 		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
 		padding-top: 35%;
 		padding-left: 0px;
 		align-items: center;
 		height: 20%;
 		list-style: none;
		width: 80%;
 	}

 	#mainNav ul li{
 		width: 100%;
 		text-align: center;
 		border-bottom: 2px solid #730101;
 	}

 	#mainNav li a{
		font-family: 'Libre Baskerville', serif;
		font-size: 1.2em;
		color: white;
		transition: 0.5s;
	}

	/********
	 * Accueil.php
	 ********/
	.accueil{
		margin: 0;
		margin-bottom: 50px;
		background-color: #222224;
	}

	.accueil .divRouge{
		width: 100%;
		left: 0;
	}

 	.accueil .divBlanche{
 		width: 100%;
 		box-shadow: none;
 	}

 	.accueil .divBlanche:first-child{
 		margin-top: 0;
 	}

 	/********
	 * listCellier.php
	 ********/
	/* Afficher les boutons pour le mobile */ 
	.btnMobile{
		display: block;
	}

	.divMesCelliers .options{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		width: 50%;
	}

	/* Retirer les boutons pour le web */
	.btnWeb{
		display: none;
	}

	/* Afficher les font awesome des boutons */
	.listCellier i{
		display: inline-block;
	}

	.listCellier{
		display: flex;
		flex-flow: column;
	}

	/* Retirer la section des informations du compte */
	.listCellierDivGauche{
		display: none;
	}

	.mesCelliers{
		width: 90%;
		margin: auto;
	}

	.mesCelliers{
		margin-top: 40px;
	}

	.divMesCelliers p{
		width: 50%;
	}


 	/********
	 * ContenuCellier.php
	 ********/
    .options{
        flex-flow:row;
    }

    .information{
 		max-width:300px;
        flex-flow:column;
 	}
     
    .description{
        display:none;
     }
     
    .actionBouteille{
        display:none;
     }
     
    .informaiont > div:nth-child(2){
        width:100%;
    }

    /********
	 * formulaire
	 ********/
	.mesFormulaires{
		width: 95%;
	}
	.formulaire{
		width: 100%;
		margin: 5px 15px 5px 0px;
		border: none;
		padding: 0;
	}
}

/**************** Tout sauf mobile ****************/
@media all and (min-width:769px)
{
	/* Retirer les liens de menu du format mobile*/
	#burger, .iconeMenuMobile, .fa-times, .menuMobile{
		display: none !important;
	}
}



/*********** ANIMATION ***************/

@keyframes rotation{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes affichemsg{
    0%{
        bottom:-30px;
    }
    
    25%{
        bottom:0px;
    }
    
    75%{
        bottom:0px;
    }
    100%{
        bottom:-30px;
    }
}

@keyframes highlight{
    0%{
        box-shadow: 0px 0px 0px 0px white inset; 
    }
    
    5%{
        box-shadow: 0px 0px 2px 1px white inset;
    }
    
    10%{
        box-shadow: 0px 0px 4px 2px white inset; 
    }
    
    15%{
        box-shadow: 0px 0px 6px 3px white inset; 
    }
    
    20%{
        box-shadow: 0px 0px 8px 4px white inset; 
    }
    
    25%{
        box-shadow: 0px 0px 10px 5px white inset; 
    }
    
    75%{
        box-shadow: 0px 0px 10px 5px white inset; 
    }
    
    80%{
        box-shadow: 0px 0px 8px 4px white inset; 
    }
    
    85%{
        box-shadow: 0px 0px 6px 3px white inset; 
    }
    
    90%{
        box-shadow: 0px 0px 4px 2px white inset; 
    }
    
    95%{
        box-shadow: 0px 0px 2px 1px white inset; 
    }
    
    100%{
        box-shadow: 0px 0px 0px 0px white inset; 
    }
}


/****temporaire*****/



.loading{
    animation : rotation 1s linear forwards infinite; 
}



#msgContenuCellier{
    position:fixed;
        bottom:-30px;
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    width:100%;
    border-radius:0px;
    border-width:1px;
    background-color:#99ff99;
    
}

#msgContenuCellier p{
    margin:auto;
    width:75%;
    color:green;
}

.affichemsg{
    animation: affichemsg 3s linear forwards;
}


.highlight{
    animation: highlight 2s linear forwards;

}


