/********
 * Votre CSS
 ********/

html, body {
	height: 100%;
	margin: 0;
	background-color: #3c3c40;
	/*font-family: 'Roboto', 'RobotoDraft', sans-serif;*/
	font-family: 'Hind', sans-serif;
	font-size: 95%;
	
}
.liste {
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: none;
	/*background: #666;*/
	/*color: #03a9f4;*/
	list-style: none;
	margin: 0;
	padding: 0;
}

.liste > div {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
	/*background: #666;*/
	cursor: pointer;
	transition: color 200ms ease-in-out;
	/*background-color: #003777;*/
	background-color:#e85e30;
	color:#FFFFFF;
}
.liste > div:hover {
	color:#000000;
	transition: color 200ms ease-in-out;
	
}

footer
{
	/*bottom:0px;*/
	width: 100%;
	text-align: center;
	background-color:#222224;
}

/********
 * entete.php
 ********/

#entete1{
	height: 100px;
	background-color: #222224;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
    position:sticky;
        top:0px;
        left:0px;
}

#entete1 div{
	width: 200px;
}

#titreEntete{
	text-align: center;
}

#entete1 #logo{
	width: 100px;
	height: 100px;
}

#entete1 h1{
	font-size: 3em;
	font-family: 'Libre Baskerville', serif;
}

#entete1 #liensSociaux a{
	color: white;
	font-size: 2.2em;
	margin-left: 10px;
}

#entete1 #liensSociaux{
	text-align: right;	
}

#imageEntete{
	width: 100%;
	height: 400px;
	background-image:url("../images/barrel-black.jpg");
	background-size: cover;
	background-position: center;
}

#liensSociauxMobile{
	display: none;
}

@media all and (max-width:619px)
{
	#liensSociaux{
		padding-right: 20px;
		padding-left: 50px;
		box-sizing: border-box;
		text-align: center;
	}

	#mainNav ul {
		width: 90% !important;
		padding-left: 0px;
	}
}

@media all and (min-width:451px)
{
	#burger, .fa-bars, .fa-times{
		display: none !important;
	}
}

/* Menu Hamburger */
@media all and (max-width:450px)
 {
 	#entete1{
 		height: 200px;
 		flex-flow: column;
 		align-items: center;
 		justify-content: space-between;
 	}

 	#entete1 div:nth-child(1){
 		display: flex;
 		justify-content: space-around;
 		height: 150px;
 	}

 	#entete1 #logo{
 		width: 150px;
 		height: 150px;
 	}

 	#titreEntete{
 		font-size: 0.7em;
 		height: 60px;
 	}

 	#imageEntete{
 		display: none;
 	}

 	#burger{
 		position: absolute;
 		top: 179px;
 		right: 20px;
 		display: block;
 		width: 40px;
 		height: 32px;
 		z-index: 2;
 		opacity: 0;
 		cursor: pointer;
 	}

 	.fa-bars{
 		display: block;
 		position: absolute;
 		top: 177px;
 		right: 25px;
 		font-size: 2.5em;
 		color: white;
 		transition: 1s;
 		
 	}

 	.fa-times{
 		display: block;
 		position: absolute;
 		top: 177px;
 		right: 28px;
 		font-size: 2.5em;
 		color: white;
 		opacity: 0;
 		transition: 1s;
 	}

 	#burger:checked ~ .fa-bars{
 		opacity: 0;
 	}

 	#burger:checked ~ .fa-times{
 		opacity: 1;
 	}

 	#burger:checked ~ nav > #mainNav{
 		display: block !important;
 	}
     
    nav{
        height:0px !important;
    }

 	#mainNav{
 		display: none !important;
 		position: absolute;
 		top: 220px;
 		height: 80%;
 		width: 100%;
 		z-index: 2;
 		display: flex;
 		flex-flow: column;
 		justify-content: space-around;
 		
 	}

 	#mainNav ul{
 		display: block;
 		padding-top: 20%;
 		padding-left: 0px;
 		display: flex !important;
 		flex-flow: column !important;
 		justify-content: space-between !important;
 		align-items: center;
 		height: 60% !important;
 	}

 	#mainNav ul li{
 		width: 100%;
 		text-align: center;
 		border-bottom: 2px solid #730101;
 	}

 	#liensSociaux{
 		display: none;
 	}

 	#liensSociauxMobile{
 		display: block;
 		font-size: 3em;
 	}

 	#mainNav a{
 		text-decoration: none;
 		color: #730101;
 	}

 }

/* Menu */
nav{
    height:50px;
}

#mainNav{
	background-color: #222224;
    z-index:2;
}

#mainNav li a{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	transition: 0.5s;
}

#mainNav li a:hover{
	color: #730101;
}

#mainNav ul{
	list-style: none;
	width: 80%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

@media all and (min-width:451px)
{
	.sticky{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.sticky + .content{
		padding-top: 610px;
	}
}

/********
 * Pied.php
 ********/
/*
#footer1{
	height: 500px;
	background-image: url("../images/wine-black.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

#footer1 form{
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}
#footer1 form label{
	display: block;
	font-size: 1.7em;
	font-family: 'Libre Baskerville', serif;
	color: #730101;
	text-shadow: 1px 1px 2px white;
}

#footer1 form input{
	width: 300px;
	padding-left: 5px;
}
*/
#footer2{
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/********
 * Accueil.php
 ********/

.accueil{
	position: relative;
	padding-bottom: 220px;
}
#divAccueil{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.accueil .divBlanche{
	background-color: white;
	height: 400px;
	width: 25%;
	padding: 20px;
	margin-top: 25px;
	min-width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 10px 15px 8px #42424270;
	color: #730101;
	text-shadow: 1px 1px 1px white;
	background-size: cover;
 	background-position: center;
 	text-align: center;
 	z-index: 1;
}
/*
@media all and (max-width:890px)
 {
 	.accueil .divBlanche{
 		width: 40%;
 	}
 }
*/

@media all and (max-width:860px)
 {
 	.accueil .divBlanche{
 		width: 20%;
 		min-width: 200px;
 	}
 }

 @media all and (max-width:736px)
 {
 	.accueil .divBlanche{
 		width: 80%;
 	}
 }

 .accueil .divBlanche:nth-child(1){
 	background-image: url("../images/cellier.png");	
 }

  .accueil .divBlanche:nth-child(2){
 	background-image: url("../images/boire.png");	
 }

  .accueil .divBlanche:nth-child(3){
 	background-image: url("../images/bac_vin.png");	
 	/*margin-bottom: 400px;*/
 }

.divRouge{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #730101;
	position: absolute;
	bottom: 0px;
	box-shadow: 0px -5px 7px #42424270 inset;
}

.divRouge a{
	color: white;
	text-decoration: none;
}

/********
 * Cellier.php
 ********/

.actionCellier{
    margin:auto;
    width:80%;
    display:flex;
    flex-flow:column;
    justify-content:space-between;
}

 .cellier{
 	display: flex;
 	flex-direction:column;
    align-items:center;
 	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: 20px;
	padding-top: 20px;
 }

 .bouteille{
    width:100%;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
 	padding-top: 10px;
 	padding-bottom: 10px;
    margin:10px;
    background-color: white;
 }

.bouteille > div:nth-child(2){
    width:70%;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
}

 .img, .information, .options{
 	padding: 10px;
 }

 .img img{
 	width: 100%;
    background-image:url("../images/vindefault.jpg");

 }

.nom{
    font-size:14pt;
    font-family: 'Libre Baskerville', serif;
}

 .information{
 	display: flex;
 	flex-flow: column nowrap;
 	align-content: space-between; 
 	/*height: 210px;*/
 }

 .nom{
 	font-weight: bold;
 	margin: 0;
 	padding-bottom: 15px;
 	padding-top: 15px;
 	padding-left: 0px;
 	color: #730101;	
 }

 .information p{
 	margin-bottom: 5px;
 	margin-top: 5px;
 	padding-left: 10px;
 }

 .options{
 	display: flex;
    flex-flow:column;
 	justify-content: space-around;
 	padding: 10px;
 }
 .options button{
 	width: 32%;
 	min-width: 67px;
 }

.hideBouteille{
    display:none;
}

.trier{
	width: 250px;
    height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 10%;
    border: 1px solid black;
    padding:1%;
    text-align: center;
    border-radius: 50px 20px;
	background-color: white;
}
@media all and (min-width:451px)
{
    .actionCellier{
        margin:auto;
        width:80%;
        display:flex;
        flex-flow:row;
        justify-content:space-between;
    }
	.trier{
        margin-left: 0px;
        margin-bottom:0px;
	}
}

.search{
	float:center;
    margin-left: 10%;
    margin-top:2%;
    margin-bottom: 0px;
}
.search input{
    width:250px;
    border:none;
    margin-right:0px;
}
.search button{
   background-color:#3c3c40; 
    border:none;
    width:20px;
}

.search i{
    color:white;
}
@media all and (min-width:451px)
{
	.search{
        margin-top:0px;
	    float:right;
        margin-right:50px;
        margin-left:0px;
    }
	
}
.listeChercheAutoComplete{
    width:250px;
    list-style: none;
    color:black;
    padding:0px;
    display:block;
    margin-top: 0px;
    background-color: white;
}
li:not(.listCherche) {   
   font-weight: bold; 
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
}


.erreur, .count{
     width:100%;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
}


/********
 * formulaire
 ********/

.mesFormulaires{
	width: 80%;
	min-width: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	padding-left: 50px;
	background-color: white;
}

.mesFormulaires h2{
	color: #730101;
}

.mesFormulaires > div > label{
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

.formulaire div input, .formulaire div select{
	width: 100%;
}

.formulaire{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: column nowrap;
	border-left: 2px solid #222224;
	padding-left: 20px;
}

.formulaire > div{
    margin-bottom: 40px;
}

/*champs du formulaire*/
.mesFormulaires input, textarea, .mesFormulaires select{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
}

.msg{
    width:60%;
    margin:5px auto;
    height:15px;
}

/*erreur des champs du formulaire*/
.formulaire > div > p{
    margin:2px 0 0;
    color:red;
}

.recherche{
	border: 2px solid black;
	border-radius: 5px;
	width: 200px;
	padding: 5px;
	height: 25px;
}

.recherche input{
	border: none;
	box-shadow: none;
}

#labelNom{
	margin-bottom: 40px;
}

.mesFormulaires ::placeholder{
	color: #222224;
	transition: 1s;
}

.mesFormulaires input:focus::placeholder{
	color: white;
}

.mesFormulaires label[for]{
	position: absolute;
	top: -20px;
	left: 0;
	transition: 1s;
}

/*cache le label lorsque le champ est vide*/
.hide{
    opacity:0;
}

/*affiche le label lorsque l'input lier n'est pas vide*/
.mesFormulaires input:focus + .hide{
	opacity: 1;
}

input:focus, select:focus{
	outline: none;
}

.mesFormulaires div{
	position: relative;
}


button, .mesFormulaires input[type='button']{
	width: 200px;
	border: none;
	box-shadow: 2px 2px 5px grey;
	border-radius: 5px;
	padding: 5px;
    margin-top:10px;
	margin-bottom: 0px;
}

.soumettre{
    background-color: #730101;
	color: white;
}

.retour{
    background-color: lightgray;
}

.mesFormulaires button:hover, .mesFormulaires input[type='button']:hover{
	box-shadow: none;
}

.boutonForm{
    display:flex;
    flex-flow:row wrap-reverse;
    justify-content:space-between;
}

.attention{
    color:red;
}

.icone{
    height:30px;
}

.succes{
    color:green;
}

.formChiffre{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.formChiffre div{
	width: 45%;
}

/* Ajustement du nombre de bouteille afficher selon les 
	résolutions d'écran */
/*
 @media all and (max-width:1182px)
 {
 	.bouteille{
 		width: 33%;
 	}
 }
*/
 @media all and (max-width:770px)
 {
     .bouteille > div:nth-child(2){
         flex-flow:column;
     }
     .options{
         flex-flow:row;
     }
 }

 @media all and (max-width:635px)
 {
     .bouteille{
 		max-width:300px;
        flex-flow:column;
 	}
     
     .description{
         display:none;
     }
     
     .options{
         display:none;
     }
     
     .bouteille > div:nth-child(2){
         width:100%;
     }
 }
/*
 @media all and (min-width:1182px)
 {
 	 .bouteille{
	 	width: 25%;
	 }
 }
*/

.errorBox{
	width: 100%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border:2px solid red;
	background-color: #ff00004a;
}

.confirmBox{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-bottom: 20px;
	border:2px solid green;
	background-color: #00800042;
}

.formulaire > .confirmBox > p{
    color:black !important;
}

.formulaire > .errorBox > p{
    color:black;
}

/*
@media all and (max-width:450px)
{
	.mesFormulaires{
		min-width: 200px;
		width: 100% !important;
		padding:20px !important;
		box-sizing: border-box;
	}
	.formulaire, .msg{
		width: 90%;
	}
}

.listeAutoComplete{
    width:200px;
    list-style: none;
    color:black;
    padding:0px;
    display:block;
    background-color: white;
}
*/




.trier{
	margin-top: 10px;
	margin-bottom: 10px;
    border: 1px solid black;
    padding:1%;
    text-align: center;
	background-color: white;

}
/*
@media all and (min-width:451px)
{
	.trier{
	width: 250px;
	
}
*/

/********
 * monCompte.php
 ********/


 .monCompte{
 	
 }

.monCompte div:first-child div{
	display: flex;
	align-items: center;
}

.monCompte div:first-child p{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 23px;
	margin: 0px;
	cursor: pointer;
}

.monCompte div:first-child i{
	padding-left: 5px;
}

.monCompte div:first-child h2{
	margin-bottom: 0px;
	padding-right: 5px;
}

.monCompte div:last-child{
	margin-top: 40px;
}
    

    
/********
 * listCellier.php
 ********/
    .listCellier{
        display:flex;
        flex-flow:column;
        align-items:center;
    }
.listCellier > div{
    width:80%;
    margin:10px;
    padding:10px;
    background-color:white;
}